.image_selector__item,
.video_selector__item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px #ccc solid;
	padding: 10px;
}

.image_selector__image,
.video_selector__image {
	padding: 0 10px 0 0;
}

.image_selector__image > a {
	border: 1px #ccc solid;
	display: block;
	text-align: center;
}

.image_selector__image img,
.video_selector__image img {
	opacity: 0.6;
}

.image_selector__image:hover img,
.video_selector__image:hover img {
	opacity: 1;
}

.image_selector__data,
.video_selector__data {
	color: #91918b;
	font-size: 0.7rem;
}

.image_selector__data__id, 
.video_selector__data__id {
	font-size: 0.9rem;
	color: #080707;
}

.image_selector__data__type,
.video_selector__data__type {
	text-transform: capitalize;
}

.image_selector__data__format,
.video_selector__data__format {
	text-transform: uppercase;
}

.video_selector__data__size {}

.image_selector__action,
.video_selector__action {
	padding: 0 0 0 10px;
}
