.cloudinary-video-container {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.cloudinary-video {
}

.video-js .vjs-text-track-display div div {
	color: orange !important;
    background-color: transparent !important;
}
